@font-face{
	font-family: "Gilroy-Heavy.ttf";
	src: url(fonts/Gilroy-Heavy.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

a{
	color: #fff;
	text-decoration: none;
}

body{
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: auto;
}

.header{
	display: flex;
	justify-content: space-between;
	padding: 0.3%;
	background: rgba(210,126,240,1);
	color: #fff;
	font-family:"Gilroy-Heavy.ttf";
	max-width: 1900px;
	margin: 0 auto;
}

.header_section{
	display: flex;
	align-items: center;
}

.header__section{
	display: flex;
	justify-content: flex-end;
	padding: 0 5%;
}

.header_item{
	padding: 4px 12px;
	font-size: 20px;
	margin-left: 60%;
}

.header_item:hover{
	background-color: #ff9900;
	border: 4px;
}

.main{
	display: flex;
}

.back{
	background-color: #f4f4f4;
	background: 
	url(img/back.png) 100% 100% no-repeat;
	margin: 0 auto;
	max-width: 1900px;
	padding-bottom: 5%;	
}

.content{
	margin: 0px 0px 0px 0px;
}

.ffff{
	font-size: 125px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-family:"Gilroy-Heavy.ttf";
}

.belev{
	display: flex;
	justify-content: center;
	width: 27%;
	padding: 0;
	width: 100%;
	height: 125px;
}

@media (max-width: 1230px){
	.belev{
		height:115px; 
	}
	.ffff{
		font-size:115px;
		}
}

@media (max-width: 1160px){
	.belev{
		height:90px; 
	}
	.ffff{
		font-size:90px;
	}
}
@media (max-width: 960px){
	.belev{
		height:70px; 
	}
	.ffff{
		font-size:70px;
	}
	.header_item{
		margin-left:50%;
		font-size:18px;
		padding: 4px 1px;
	}
	.back{
		padding-bottom: 16%;
		background-size: contain;
	}
}


.vtoraya{
	max-width: 1900px;
	margin: 0 auto;
	background-color: #f4f4f4;
	background: 
	url(img/23.png) no-repeat ;
}

.biograf{
	display: flex;
	justify-content: center;
	font-size: 56px;
	font-weight: bold;
	font-family:"Gilroy-Heavy.ttf";
}

.bor{	
	display: flex;
	align-items: flex-start;
	padding-top:10%;
}

.textbio{
	display: flex;
}

.tex{
	background-color: #ffffff;
	border: 4mm solid rgba(210,126,240,1);
	border-radius: 30px;
	padding: 1%;
}

.texx{
	display: block;
	font-size: 25px;
	color: #000;
	font-weight: bold;
	text-align: justify;
	position: relative;
	font-family:"Gilroy-Heavy.ttf";
	text-indent: 50px;
}

.ya{

}


@media (max-width: 1368px){
	.bor{
		padding-right: 50px;
	}
}
@media (max-width: 1200px){
	.bor{
		margin:-34px;
	}
}
@media (max-width: 1000px){
	.bor{
		padding-top:10%;
	}
	.texx{
		font-size:20px;
	}
}
@media (max-width: 900px){
	#ya{
		height: 830px;
	}
}
@media (max-width: 820px){
		#ya{
		height: 760px;
	}
	.texx{
		font-size:18px;
	}
} 



.tretya{
	max-width: 1900px;
	height: 1080px; 
	margin: 0 auto;
	background-color: #f4f4f4;
	background: 
	url(img/Ñhel.png) no-repeat ;
}

.chel{
	display: flex;
	justify-content: center;
	padding-top: 5%;
}

.onebor{
	display: flex;
	align-items: center;
}

.twobor{
	display: flex;
	align-items: center;
}

.threetext{
font-size:150%;
font-family:"Gilroy-Heavy.ttf";
text-indent: 50px;
padding-left:1%;
margin-right: -40px;	
}

#ds{
	margin-top: 1%;
}

.twotext{
font-size:150%;
font-family:"Gilroy-Heavy.ttf";
text-indent: 50px;
padding-left:1%;
margin-right: -40px;	
}

.onetext{
	border: 4px solid #000;
	border-radius: 14px;
	margin:0;
	margin-left: 7%;
	margin-bottom: 24%;

}

.twootext{
	border: 4px solid #000;
	margin:0;
	margin-right: 7%;
	border-radius: 14px;
	margin-bottom: 24%;
}

@media (max-width: 1770px){
	.twootext{
		margin-right: 30%;
	}
	.onetext{
		margin-left: 30%;
	}
}
@media (max-width: 1730px){
	.twootext{
		margin-right: 15%;
	}
	.onetext{
		margin-left: 15%;
	}
}
@media (max-width: 1586px){
	.twootext{
		margin-right: 2%;
	}
	.onetext{
		margin-left: 2%;
	}
	#ds{
		height: 600px;	
	}
}
@media (max-width: 1368px){
#ds{
	height: 330px;
}
.tretya{
	height: 660px;
}
.twootext{
	font-size:105%;
}
.onetext{
	font-size:105%;
}
}

.chetvertaya{
	max-width: 1900px;
	margin: 0 auto;
	background-color: #f4f4f4;
	background: 
	url(img/chet1.png) no-repeat;
	padding-bottom: 2%;
}

.container1{
	display: flex;
	justify-content: space-around;
}
.container12{
	display: flex;
	justify-content: space-around;
	margin-top: 10%;
}

.biograf123{
	display: flex;
	justify-content: center;
	font-size: 56px;
	font-weight: bold;
	font-family:"Gilroy-Heavy.ttf";
	margin-bottom: 5%;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;	
  perspective: 1000px;
}

.flip-card-inner {display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.flip-card-front>img{
	width:300px;
	height:300px;
}

.flip-card-back {
  background-color: #000;
  color: #f3f3f3;
  transform: rotateY(180deg);
	font-family:"Gilroy-Heavy.ttf";
}
@media (max-width: 930px){
#chet{
	width: 280px;
	height: 280px;
}
}
@media (max-width: 850px){
	#chet{
	width: 245px;
	height: 245px;
}
}

.footer{
	background: url(img/podval.png) no-repeat;
	background-color: #f4f4f4;	
}

.biograf1233{
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: bold;
	font-family:"Gilroy-Heavy.ttf";
	margin-bottom: 18px;
}

.podvalnolik{
	margin-right: 10%;
}

.footer-list{
	margin-left: -35px;
}

.footer-list-item{
		margin-right: 10px;
		font-family:"Gilroy-Heavy.ttf";
}

.footer-list-item1{
	margin-right: 37px;
	font-family:"Gilroy-Heavy.ttf";
}

.footer-list-link{
color:#000;
text-decoration: underline;
}

.tags-group1{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 2px;
	margin-right: 2px;
}

.tags-group2{
	display: flex;
	justify-content: flex-start;
}

#nolik{
	display: flex;
	justify-content: flex-start;
	margin-left: 150%;
	height:80px;
}

ul li{
	text-decoration: none;
	list-style: none;
}
